{{ partial "top.html" . }}

<h1>Hackerspace Brussels 🤘</h1>

<blockquote>Hackerspace Brussels (HSBXL) is a space, dedicated to various aspects of constructive & creative hacking. The space is about 300 square meters, there is a little electronics lab with over 9000 components, a library, and lots of tools. You're always welcome to follow one of the workshops or come to the <a href="/events/techtuesday/">weekly Tuesday meetings</a>, hack nights or other get-together <a href="/events">events</a>.</blockquote>

<video controls="" loop="" class="embed-responsive-item" style="max-width:400px;">
    <source src="https://media.hsbxl.be/intro.webm" type="video/webm; codecs=vp9,vorbis">
    <source src="https://media.hsbxl.be/intro.mp4" type="video/mp4">
</video>

{{ .Content }}

{{ partial "bottom.html" . }}
